<!DOCTYPE html>
<html>
<head>
<title>The Ivy League Networker!</title>
</head>
<p style="text-align: center;"><strong>The Ivy League Networker</strong></p>
<p style="text-align: center;">&nbsp;</p>
<form>
<p style="text-align: center;">Athlete 1:<br /> <input name="firstname" type="text" /><br /> School 1:<br /> <input name="lastname" type="text" /></p>
</form><form>
<p style="text-align: center;">Athlete 2:<br /> <input name="firstname" type="text" /><br /> School 2:<br /> <input name="lastname" type="text" /></p>
</form><form action="runProgram">
<p style="text-align: center;"><input type="submit" value="Search for Connection" /></p>
</form>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Searching....</p>
<form></form>